body {
    background-image: url("../images/background.jpg");
    font-family: 'Mouse Memoirs', sans-serif;
    line-height: 1;
}

.container {
    border: 10px solid black;
    background: #c6c4ae;
    text-align: center;
    padding: 10px;
}

h1 {
    font-size: 70px;
    color: #ab1a42;
}

#remaining {
    font-size: 40px;
    display: none;
}

#question {
    font-size: 45px;
    color: #c693b4;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    display: none;
}

.answer {
    font-size: 35px;
    width: 300px;
    height: 38px;
    margin: 5px auto;
    display: none;
    
}

.answer:hover {
    background:#f3d65f;
    cursor: pointer;
    border: 1px solid black;
}

#correct-text {
    font-size: 25px;
    margin-bottom: 5px;
    display: none;
}

#gif {
    border: 1px solid black;
    display: none;
}

#stats {
    font-size: 30px;
    margin-top: 20px;
    color: #ab1a42;
    line-height: 1.5;
    display: none;
}

#start {
    font-size: 40px;
    width: 100px;
    margin: 50px auto;
}

#start:hover {
    background: #f3d65f;
    cursor: pointer;
}

/* Media Queries */

@media (min-width: 576px) {
    .container {  
      max-width: 800px;
    }
  }

@media (min-width: 800px) {
    .container {
        margin-top: 30px;
    }
}
  
@media (min-width: 992px) {
    .container {
      max-width: 800px;
    }
}
  
  @media (min-width: 1200px) {
    .container {
      max-width: 800px;
    }
  }